Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
# Ignore other plugins
Plugins/*
# But keep Inventory
!Plugins/Inventory/

/Source/

!Plugins/Inventory/Source/